<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flash Cards</title>

  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <main class="flash-cards">
    <section class="new-word">
      <select v-model="currentLanguage" @change="changeLanguage()">
        <option :value="language.toLowerCase()" v-for="language in languages">{{language}}</option>
      </select>
      {{currentLanguage}}

      <form @submit.prevent="addWord(newWord, currentLanguage)">
        <input type="text" placeholder="Native Word" v-model="newWord.native">
        <input type="text" placeholder="English Translation" v-model="newWord.english">
        <button class="Button">Add Word</button>
      </form>
    </section>

    <section class="flash-card-container" :class="{'active': flashCardActive}">
      <!-- <span v-for="w in alreadyViewedThisCycle">{{w.native}}</span> -->
      <div class="flash-card mb-1" :class="{active: wordActive}">
        <span class="word">{{currentWord.native}}</span>
        <button @click="editWord(currentWord, currentLanguage)" class="Button Button--secondary">Edit</button>
      </div>
      
      <div class="flash-card flash-card--answer mb-1" :class="{active: !wordActive}">
        <span class="translation">{{currentWord.english}}</span>
        <div v-if="currentWord.translations">(<span class="other-translations" v-for="translation in currentWord.translations">{{translation}}</span>)</div>
        <p class="example" v-for="example in currentWord.examples">{{example}}</p>
        <button @click="editWord(currentWord, currentLanguage)" class="Button Button--secondary">Edit</button>
      </div>
      
      <div class="controls">
        <button @click="flip()" class="Button Button--utility mr-1">Flip</button>
        <button @click="next()" class="Button mr-1">Next &rarr;</button>
      </div>
    </section>
    
    <section class="words-list" style="height: 400px; overflow: scroll;">
      <p>Words: {{words.length}}</p>
      <ul>
        <li v-for="word in wordsAlphabetical">
          <span>{{word.native}} - {{word.english}}</span>
          <button @click="editWord(word, currentLanguage)">Edit</button>
          <button @click="removeWord(word, currentLanguage)">Remove</button>
        </li>
      </ul>
    </section>

    <div class="modal" @click="closeModal()" :class="{active: modalActive}">
      <div class="modal-content" :class="{active: modalActive}" @click.stop>
        <form @submit.prevent.stop="saveChanges(editingWord, currentLanguage)">
          <h3 class="m-0">Native: {{editingWord.native}}</h3>
          <h3 class="m-0 mb-1">English: {{editingWord.english}}</h3>
          <input type="text" placeholder="Native Word" v-model="editingWord.native">
          <input type="text" placeholder="English Translation" v-model="editingWord.english">

          <hr>

          <button class="Button mb-1" @click.prevent.stop="addExample()">Add Example Sentence</button>
          <input class="" type="text" v-for="(example, i) in editingWord.examples" v-model="editingWord.examples[i]" placeholder="Add sentence here...">
          <ul>
            <li v-for="example in editingWord.examples">{{ example }}</li>
          </ul>

          <hr>

          <button class="Button mb-1" @click.prevent.stop="addTranslation()">Add alternate translation</button>
          <input class="" type="text" v-for="(translation, i) in editingWord.translations" v-model="editingWord.translations[i]"
            placeholder="Add sentence here...">
          <ul>
            <li v-for="translation in editingWord.translations">{{ translation }}</li>
          </ul>
          
          <hr>

          <button class="Button Button--secondary">Cancel</button>
          <button class="Button">Save Changes</button>
        </form>
      </div>
    </div>
  </main>
    
    
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-database.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="flash-card.js"></script>
</body>
</html>
