<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flash Cards</title>

  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <main class="flash-cards">
    <section class="new-word">
      <select v-model="currentLanguage" @change="changeLanguage()">
        <option :value="language.toLowerCase()" v-for="language in languages">{{language}}</option>
      </select>
      {{currentLanguage}}

      <form @submit.prevent="addWord(newWord, currentLanguage)">
        <input type="text" placeholder="Native Word" v-model="newWord.native">
        <input type="text" placeholder="English Translation" v-model="newWord.english">
        <button>Add Word</button>
      </form>
    </section>

    <section class="flash-card-container" :class="{'active': flashCardActive}">
      <div class="flash-card" :class="{active: wordActive}">
        <span class="word">{{currentWord.native}}</span>
      </div>
      
      <div class="flash-card flash-card--answer" :class="{active: !wordActive}">
        <span class="translation">{{currentWord.english}}</span>
        <div v-if="currentWord.translations">(<span class="other-translations" v-for="translation in currentWord.translations">{{translation}}</span>)</div>
        <p class="example" v-for="example in currentWord.examples">{{example}}</p>
      </div>
      
      <div class="controls">
        <button @click="flip()">Flip</button>
        <button @click="next()">Next</button>
      </div>
    </section>
    
    <section class="words-list" style="height: 400px; overflow: scroll;">
      <p>Words: {{words.length}}</p>
      <ul>
        <li v-for="word in wordsAlphabetical">
          <span>{{word.native}} - {{word.english}}</span>
          <button @click="editWord(word, currentLanguage)">Edit</button>
          <button @click="removeWord(word, currentLanguage)">Remove</button>
        </li>
      </ul>
    </section>
  </main>
    
    
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-database.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="flash-card.js"></script>
</body>
</html>
