* {box-sizing: border-box;}

html, body {
  width: 100%;
  min-height: 100%;
  font-family: 'Helvetica Neue', Avenir, sans-serif;
}

body {
  margin: 0;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.flash-cards {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}

.flash-card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 7px 14px rgba(0,0,0,0.1);
  border-radius: 5px;  
  min-width: 300px;
  height: 300px;
  height: calc(100vh - env(safe-area-inset-bottom) - 200px);
}

.flash-card:not(.flash-card--answer) {
  display: none;
}

.flash-card.active {
  display: flex;
}

.flash-card.active + .flash-card--answer {
  display: none;
}

.flash-card--answer {
  flex-direction: column;
  color: #5027ce;
}

.flash-card button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.word {
  position: relative;
  font-size: 30px;
}

.translation {
  font-size: 30px;
}

.word.multiple-translations::before {
  content: '*';
  position: absolute;
  top: -5px;
  right: -10px;
}

.flash-card-container {
  display: none;
}

.flash-card-container.active {
  display: block;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-word {
  /* position: fixed;
  top: 40px;
  right: 40px; */
}

select {
  height: 38px;
  padding-top: 6px;
  padding-right: 24px;
  padding-bottom: 6px;
  padding-left: 12px;
  line-height: 1;
  width: 100%;
  max-width: 100%;

  // background-attachment: initial;
  // background-origin: initial;
  // background-clip: initial;

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(223, 225, 228);
  color: rgb(40, 42, 48);

  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 4px;
  // border-radius: 3px;
  font-size: 13px;
  // font-size: 16px;
  font-family: Avenir;
  // margin-top: 0px;
  // transition-duration: 0.15s;
  // transition-timing-function: initial;
  // transition-delay: initial;
  // transition-property: border;

  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width=%2232%22%20height=%2232%22%20viewBox=%220%200%2032%2032%22%20fill=%22%238A8F98%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d=%22M10.1611%200.314094L5.99463%204.48054L1.82819%200.314094C1.4094%20-0.104698%200.732886%20-0.104698%200.314094%200.314094C-0.104698%200.732886%20-0.104698%201.4094%200.314094%201.82819L5.24295%206.75705C5.66174%207.17584%206.33825%207.17584%206.75705%206.75705L11.6859%201.82819C12.1047%201.4094%2012.1047%200.732886%2011.6859%200.314094C11.2671%20-0.0939597%2010.5799%20-0.104698%2010.1611%200.314094Z%22%20transform=%22translate(0.77832%200.998535)%22/%3E%3C/svg%3E");
  background-position-x: calc(100% + 4px);
  background-position-y: 12px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
}

input {
  width: 100%;
  // height: 42px;
  height: 38px;
  padding: 6px;
  font-size: 16px;
  font-family: Avenir;
  line-height: 1;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
}

.words-list {
  /* position: fixed;
  top: 50%;
  right: 40px; */
  /* z-index: -1; */
  /* transform: translate(0, -50%); */
  /* width: 300px; */
  background: #f5f5f5;
  padding: 20px;
}

ul {
  margin: 0;
  padding-left: 20px;
}

.other-translations:not(:first-child)::before {
  content: ', ';
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s 0s ease, opacity 0.3s ease;
}

.modal.active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal-content {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #ffffff;
  /* height: 100 */
  border-radius: 3px;
  box-shadow: 0 7px 14px rgba(0,0,0,0.1);
  color: black;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-content.active {
  transform: translateY(0);
  opacity: 1;
}

.modal-content h3 {
  /* margin: 0; */
}

.modal-content input:not(:first-child) {
  display: block;
  margin-top: -1px;
  padding: 3px 7px;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  height: 50px;
  padding: 0 20px;

  /* margin: 0; */
  /* padding: 5px 7px; */
  outline: none;
  border: 0;
  border-radius: 3px;
  background-color: #68a3fb;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.Button:disabled {
  cursor: not-allowed;
  /* background-color: #ccc; */
  opacity: 0.3;
}

.Button--autoHeight {
  height: auto;
  align-self: stretch;
}

.Button--secondary {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
}

.Button--utility {
  background-color: #68b383;
}

.Button--full {
  width: 100%;
}

hr {
  display: block;
  margin: 20px auto;
  border: 0;
  outline: none;
  background-color: #efefef;
  height: 1px;
}


.p-1 {
  padding: 10px;
}

.m-0 { margin: 0; }

.mt-1 { margin-top: 10px; }
.mt-2 { margin-top: 20px; }

.mb-1 { margin-bottom: 10px; }
.mb-2 { margin-bottom: 20px; }

.mr-1 { margin-right: 10px; }


svg {
  width: 18px;
  height: 18px;
  color: #c7c7c7;
  fill: currentColor;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex--nowrap {
  flex-wrap: nowrap;
}

.flex--column {
  flex-direction: column;
}

.flex--row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}